.contacts {
  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 1279px) {
    padding-top: 35px;
  }
  @media (min-width: 768px) {
    display: flex;
  }
  @media (min-width: 1280px) {
    padding-top: 45px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (min-width: 1280px) and (max-width: 1679px) {
    padding-left: 35px;
    padding-right: 35px;
  }
  @media (min-width: 1680px) {
    padding-left: 180px;
  }
}
.contacts__phone {
  @extend %backdown;
  line-height: 38px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: $text-color-dark;
  text-align: center;

  &::before {
    display: inline-block;
    content: '';
    background-image: url(../images/svg/tel.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
    margin-right: 5px;
  }
  @media (min-width: 768px) {
    order: 2;
    &::after {
      display: inline-block;
      content: '';
      width: 1px;
      height: 29px;
      background-color: #e0e0e0;
      margin-left: 30px;
      margin-right: 30px;
      vertical-align: middle;
    }
  }
  @media (max-width: 767px) {
    font-size: 18px;
    margin-bottom: 18px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    font-size: 20px;
  }
  @media (min-width: 1280px) {
    &::before {
      width: 20px;
      height: 20px;
    }
  }
  @media (min-width: 1280px) {
    font-size: 27px;
    &::before {
      width: 32px;
      height: 32px;
    }
  }
}
.contacts__social {
  @extend %link;
  width: 37px;
  height: 37px;
  margin: auto;
  background-image: url(../images/svg/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 27px;

  @media (min-width: 768px) {
    order: 3;
    margin-left: 0;
  }
}
.contacts__logo {
  @media (max-width: 767px) {
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    order: 1;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    // margin-left: 76px;
    margin-right: 82px;
  }
  @media (min-width: 1280px) and (max-width: 1679px) {
    margin-right: 252px;
  }
  @media (min-width: 1680px) {
    margin-left: 0;
    margin-right: 306px;
  }
}
