.exellence {
  height: 352px;
  margin-bottom: 350px;
  background-color: $text-color-dark;
  background-image: url(../images/background/program-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.exellence__title {
  @extend %title;
  @extend %backdown;
  width: 154px;
  margin-left: 20px;
  margin-top: -90px;
  margin-bottom: 16px;
  padding-top: 86px;
  color: $text-color-white;
  letter-spacing: 0.05em;
  // background-color: transparent;
}
.exellence__list {
  @extend %list;
  @extend %container;
  padding: 20px 23px 35px 29px;
  background-color: $text-color-white;
  box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
  margin: 0 auto;
  counter-reset: v;
}
.exellence__item {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: $main-color;
  counter-increment: v;

  &::before {
    display: block;
    width: 54px;
    height: 30px;
    background-image: url(../images/pseudo/rectangle.png);
    background-repeat: no-repeat;
    background-position: left center;
    margin: 6px 0 4px 0;
    content: counter(v, decimal-leading-zero);
    color: $secondary-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: end;
  }
}
