.helping {
  // @extend %container;
  // position: relative;
  @media (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
    height: 488px;
  &--bg {
    padding-top: 50px;
    @media (max-width: 767px){
    background-color: #000;
    height: 518px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      background-image: url(../images/background/fire.png);
     background-position: top;
     background-repeat: no-repeat;
    
    }
  }
}
.helping__title {
  @extend %container;
  @extend %backdown;
  @extend %title;
  margin: 0 auto;
  color: $text-color-white;
  padding-bottom: 18px;

  &--color {
    color: $secondary-color;
  }
}
.helping__list {
  @extend %list;
  @extend %container;
  padding: 20px 23px 35px 29px;
  background-color: $text-color-white;
  box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
  margin: 0 auto;
  margin-top: -310px;
  counter-reset: v;
}
.helping__item {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: $main-color;
  counter-increment: v;

  &::before {
    display: block;
    width: 54px;
    height: 30px;
    background-image: url(../images/pseudo/rectangle.png);
    background-repeat: no-repeat;
    background-position: left center;
    margin: 6px 0 4px 0;
    content: counter(v, decimal-leading-zero);
    color: $secondary-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: end;
  }
}
