.offer {
  // margin: auto;
  // @extend %container;
  height: 639px;
  padding-top: 58px;
  background-repeat: no-repeat;

  @media (max-width: 767px) {
    background-image: url(../images/background/offer_img.png);
    background-position: center top 370px;
  }

  @media (min-width: 768px), (max-width: 1279px) {
    background-image: url(../images/background/offer_img-tablet.png);
    background-position: right top 60px;
  }

  @media (min-width: 1280px), (max-width: 1679px) {
    background-image: url(../images/background/offer_img-1280.png);
    background-position: right top 42px;
  }

  @media (min-width: 1680px) {
    background-image: url(../images/background/offer_img-1680.png);
    background-position: right top 48px;
  }
}
.offer__title {
  @extend %backdown;
  @extend %title;
  letter-spacing: 0.03em;
  color: $main-color;
  margin-bottom: 30px;
}
.offer__text {
  @extend %backdown;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $main-color;
  margin-bottom: 36px;
}
.offer__text--light {
  font-weight: 500;
  color: $text-color-light;
}
.offer__text--color {
  color: $secondary-color;
}
