.offer {
  @extend %container;
  height: 639px;
  padding-top: 58px;
  // background-image: url(./images/photo/offer-img-top.png);
  // url(./images/photo/offer-img.png), url(./images/background/bg-offer.png);
}
.offer__title {
  @extend %backdown;
  @extend %title;
  letter-spacing: 0.03em;
  color: $main-color;
  margin-bottom: 30px;
}
.offer__text {
  @extend %backdown;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $main-color;
  margin-bottom: 36px;
}
.offer__text--light {
  font-weight: 500;
  color: $text-color-light;
}
.offer__text--color {
  color: $secondary-color;
}
