.program {
  background-color: $text-color-dark;
  background-image: url(../images/background/program-bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  color: $text-color-white;
  padding-top: 56px;
  padding-bottom: 134px;
}
.program__title {
  margin-bottom: 40px;
}
.program__list {
}
.program__item {
}
.program__heading {
}
.program__caption {
}
.program__text {
}
