.teacher {
  @extend %container;
}
.teacher__title {
  @extend %title;
  @extend %backdown;
  margin-bottom: 30px;
  color: $text-color-dark;
  letter-spacing: 0.05em;
}
.teacher__img {
  margin-bottom: 24px;
}
.teacher__name {
  @extend %title;
  @extend %backdown;
  margin-bottom: 25px;
  color: $text-color-dark;
  letter-spacing: 0.05em;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(133, 133, 133, 0.38);
}
.teacher__list {
  @extend %list;
  @extend %backdown;
  padding-left: 35px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: $text-color-dark;
}
.teacher__item {
  position: relative;

  width: 238px;

  &::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 16px;
    height: 12px;
    background-image: url(../images/svg/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // fill: $secondary-color;
    left: -35px;
  }

  &:not(:last-child) {
    margin-bottom: 26px;
  }
  &:last-child {
    margin-bottom: 44px;
  }
}
.teacher__resume {
  @extend %list;
  @extend %backdown;
  margin-left: 15px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: $text-color-grey;

  &::before {
    display: block;
    content: '';
    width: 25px;
    height: 2px;
    background-color: $secondary-color;
    // margin: 20px 10px 18px 0;
    margin-bottom: 22px;
  }
}
.teacher__text {
  &:not(:last-child) {
    margin-bottom: 28px;
  }
  &:last-child {
    margin-bottom: 25px;
  }
}
.teacher__link {
  @extend %link;
  color: $secondary-color;
  text-decoration: underline;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 38px;
}
