.value {
  margin: 0 auto;
  padding-top: 30px;
  @media (max-width: 767px) {
    width: 280px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    width: 688px;
  }
  @media (min-width: 1280px) and (max-width: 1679px) {
    width: 1210px;
  }
  @media (min-width: 1680px) {
    width: 1345px;
  }
}
.value__list {
  @extend %list;
  // width: 208px;
  color: $main-color;

  letter-spacing: 0.05em;
  font-weight: bold;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: 208px;
  }
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 1279px) {
    margin-bottom: 52px;
    font-size: 13px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    width: 688px;
  }
  @media (min-width: 1280px) and (max-width: 1679px) {
    width: 1210px;
    padding-bottom: 86px;
    font-size: 18px;
  }
  @media (min-width: 1680px) {
    width: 1345px;
    padding-bottom: 128px;
    font-size: 21px;
  }
}
.value__item {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    width: 100%;
    // justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  @media (min-width: 1280px) and (max-width: 1679px) {
    &:not(:last-child) {
      margin-right: 90px;
    }
  }
}
.value__box {
  border: 2px solid $secondary-color;

  @media (max-width: 1279px) {
    width: 56px;
    height: 56px;
    padding: 8px 5px;
    margin-right: 14px;
  }

  @media (min-width: 1280px) {
    width: 90px;
    height: 90px;
    padding: 20px 25px 20px 15px;
    margin-right: -17px;
  }
}
.value__svg {
  display: block;
  // padding: 18px;

  fill: $secondary-color;
  @media (max-width: 1279px) {
    width: 40px;
    height: 40px;
  }

  @media (min-width: 1280px) {
    width: 50px;
    height: 50px;
  }
}
.value__paragraf {
  @extend %backdown;
  background-color: $text-color-white;

  @media (max-width: 1279px) {
    width: 134px;
    height: 56px;
    display: inline-block;
    position: relative;

    &::before {
      display: inline-block;
      position: absolute;
      content: '';
      width: 4px;
      height: 36px;
      left: -17px;
      top: 10px;
      background-color: $text-color-white;
    }
  }
}
