.value {
  @extend %container;
}
.value__list {
  @extend %list;
  width: 208px;
  color: $main-color;
  font-size: 13px;
  letter-spacing: 0.05em;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 52px;
}
.value__item {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
.value__box {
  width: 56px;
  height: 56px;
  border: 2px solid $secondary-color;
  border-right-style: dashed;
  padding: 8px 5px;
}
.value__svg {
  display: block;
  width: 40px;
  height: 40px;
  // padding: 18px;

  fill: $secondary-color;
}
.value__paragraf {
  @extend %backdown;
  width: 134px;
  height: 56px;
}
