// fonts
// $font-family-pre-title: 'Kaushan Script', cursive;
$font-family-secondary: 'Droid Sans Bold';
$font-family-main: 'Roboto', sans-serif;

// colors
$main-color: #77c1bb;
$header-text-color: #372c48;
$pagination-text-color: #556270;
$search-line-text-color: #000000;
$bg-color-light: #f3f6f6;
// $text-color-dark: #111517;
// $text-color-grey: #858585;
// $text-color-footer: #747778;
// $bg-color-light-grey: #f1f1f1;
// $border-color: #bababa;
