.pre-title {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  text-align: center;
}
.pre-title--size {
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  padding-top: 118px;
}
