// fonts
$font-family-pre-title: 'Kaushan Script', cursive;
$font-family-main: 'Montserrat', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;

// colors
$main-color: #18191d;
$secondary-color: #ff6b08;
$logo-color: #000000;
$text-color-light: #b9b9b9;
$text-color-white: #ffffff;
$text-color-dark: #111517;
$text-color-grey: #858585;
$text-color-footer: #747778;
$bg-color-light-grey: #f1f1f1;
$border-color: #bababa;
