// fonts
$font-family-pre-title: 'Kaushan Script', cursive;
$font-family-main: 'Montserrat', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;

// colors
$main-color: #000000;
$secondary-color: #ff6b08;

$text-color-white: #ffffff;
$text-color-dark: #333333;
$text-color-lighter: #999999;
$color-yellow: #fce38a;
$color-pink: #f38181;
$border-color: #e5e5e5;
$bg-color-light-green: #95e1d3;
