$font-family-second: 'Kaushan Script', cursive;
$font-family-first: 'Montserrat', sans-serif;
$font-family-third: 'Roboto', sans-serif;
$font-size- $font-size- $font-size- $background;
$color-first: #ffffff;
$color-second: #fce38a;
$color-third: #333333;
$color-fourth: #f38181;
$color-fifth: #999999;
$color-sixth: #e5e5e5;
$color-seventh: #95e1d3;
