.logo {
  @extend %link;
  width: 86px;
  height: 43px;
  background-image: url(../images/MoGo.png);
  background-position: top;
  background-repeat: no-repeat;

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .logo {
      background-image: url(../images/MoGo@2x.png);
    }
  }
}
