.pre-title {
  @extend %margin;
  font-family: $font-family-pre-title;
  font-weight: 400;
  text-align: center;
}
.pre-title--size {
  @include font-settings(24px, 29px);
  // font-size: 24px;
  // line-height: 29px;
  color: $text-color-dark;
  padding-top: 118px;
}
