.social {
  position: absolute;
  top: 0;
  width: 380px;
  height: 470px;
  transition: transform 0.2s linear;
  background: linear-gradient(
    90deg,
    rgba(252, 227, 138, 0) 0%,
    rgba(243, 129, 129, 0) 100%
  );
}
.social__list {
  @extend %list;
  @include flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 227px;
  height: 56px;
  margin: 0 auto;
}
.social__link {
  @extend %link;
  padding-top: 15px;
  width: 56px;
  height: 56px;
  background-color: $color-yellow;
  opacity: 0;
  transition: background-color 0.2s linear;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $color-pink;
  }

  &:hover .social__img {
    fill: $text-color-white;
  }
  &:focus .social__img {
    fill: $text-color-white;
  }
}
.social__img {
  @include bg-image;
  display: block;
  width: 26px;
  height: 26px;
  margin: auto;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: contain;
  fill: $color-pink;
  transition: fill 0.2s linear;
}
